<% layout("./layouts/boilerplate") %>
<div>
    <p>StudentForum</p>
    <input type="text" placeholder="Search using tags">
    <p>User</p>
</div>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti qui ab blanditiis, voluptas
        labore dolorum quidem eum! Enim cumque voluptas tempore iure dolore unde saepe iste ut quam velit!
        Impedit libero rerum ut, sapiente placeat similique ea reprehenderit illo corporis, nobis voluptates
        laudantium dicta sint quam cumque aut quisquam sed deleniti enim quis ad odit velit! Pariatur, nulla
        molestiae.
        Esse vel repellendus magnam provident ipsam suscipit itaque? Dicta corporis sapiente illum dolores placeat
        qui adipisci harum. Ducimus nam voluptatum, ab non, illo obcaecati, a quos ex laudantium mollitia ratione?
        Eos veritatis sunt tempora ratione iste, inventore nobis explicabo quae quibusdam hic incidunt at culpa in
        labore rerum, exercitationem officiis odio commodi. Voluptatibus dolorum vel beatae dicta ducimus quibusdam
        autem.
        Voluptatem nulla eligendi, reprehenderit atque dolores tempore veritatis provident enim cupiditate omnis
        alias libero a expedita consequuntur sit tempora deleniti recusandae sapiente id ullam ad quidem quaerat.
        Repellat, ut porro.</p>
</div>
